$primary-brand: #014189;
$primary-button: #EE994F;
$primary-button-hover: #BC793E;
$primary-button-active: #F5C398;
// $secondary-button:;
// $secondary-button-hover:;
// $secondary-button-active:;
$tertiary-button: #5783B1;
$tertiary-button-hover: #003C7A;
$tertiary-button-active: #ADC2D9;

$text-color: #3B3E4C;
